
<!-- Validation failure messages -->
<% if @youtube_video.present? %>
  <% if @youtube_video.errors.any? %>
    <% @youtube_video.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>
<div class="container">
<h1>
  Add a new youtube video
</h1>

<hr>

<form action="/create_youtube_video" method="post">
  <!--  input for tab_id -->
  <div class="form-group">
    <input type="hidden" id="tab_id" name="tab_id" class="form-control" value="<%= params.fetch("tab_id") %>">
  </div>

  <!-- Label and input for url_link -->
  <div class="form-group">
    <label for="url_link">
      URL link
    </label>

    <input type="text" id="url_link" name="url_link" class="form-control" value="<%= @youtube_video.try(:url_link) %>">
  </div>

  <!-- Label and input for description -->
  <div class="form-group">
    <label for="description">
      Description
    </label>

    <input type="text" id="description" name="description" class="form-control" value="<%= @youtube_video.try(:description) %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create youtube video
  </button>
</form>

<hr>

<a href="/guides">
  Go back
</a>
</div>