<!DOCTYPE html>
<html>

<head>
  <style>
    body {background-image: url("http://fc04.deviantart.net/fs71/f/2011/019/6/d/dune__atreides_final_by_angelitoon-d37l1yh.jpg");
    }
  </style>
</head>

<body>
  
  <h2>
  Goal: To collect and share the sum of all human knowledge on the theory and practice of Engineering.  
    
  </h2>

  
  
</body>
</html>