<!DOCTYPE html>
<html>

<head>
  <title>Design Wiki</title>

</head>

<body>

 <h1>test for h1</h1>  
    <h2>test for h2</h2>
    
   <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search Public Design" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>   
    
</body>


</html>