<!DOCTYPE html>
<html>

<head>
</head>

<body>
  
<script>
  (function() {
    var cx = '017062161739936208105:pwopiokatuq';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:searchresults-only></gcse:searchresults-only>

<h3>Search entry:"<%= params.fetch("search_entry") %>"</h3>

<!--List of Topics-->
<h1>
  All topics
</h1>

<a href="/topics/new">
  Add a new topic
</a>

<hr>

<table class="table">
  <tr>

    <th>
      Title
    </th>

    <th>
    </th>
  </tr>

  <% @topic.each do |topic| %>
  <tr>
    
    <td>
      <%= topic.title %>
    </td>

    
    <td>
      <a href="/topics/<%= topic.id %>" class="btn btn-primary">
        Show topic
      </a>
    </td>
  </tr>
  <% end %>
</table>
  
  
  
</body>
</html>