<!-- Validation failure messages -->
<% if @text_component.present? %>
  <% if @text_component.errors.any? %>
    <% @text_component.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new text component
</h1>

<hr>

<form action="/create_text_component" method="post">
  <!-- Label and input for tab_id -->
  <div class="form-group">
    <label for="section_id">
      Section
    </label>

    <input type="text" id="section_id" name="section_id" class="form-control" value="<%= @text_component.try(:section_id) %>">
  </div>

  <!-- Label and input for header -->
  <div class="form-group">
    <label for="header">
      Header
    </label>

    <input type="text" id="header" name="header" class="form-control" value="<%= @text_component.try(:header) %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create text component
  </button>
</form>

<hr>

<a href="/text_components">
  Go back
</a>
