<!DOCTYPE html>
<html>

<head>
</head>

<body>
<div class="container" style="margin:50px;"></div>
<form action="/create_topic">
  <fieldset>
    <legend>Legend</legend>
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title" name="title">
    </div>

    <div class="form-group">
      <label for="text1">Example textarea</label>
      <textarea class="form-control" id="text1" rows="4" name="text1"></textarea>
    </div>
</div>

 
    <button class="btn btn-primary" type="submit">Create new topic</button>
  </fieldset>
</form>
  
  
</body>
</html>