<!-- Footer -->
<footer class="page-footer font-small special-color-dark pt-2" style="background-color: #3E3F3A;">


  <nav class="navbar navbar-expand-lg navbar-dark bg-primary  justify-content-center">
    <ul class="navbar-nav">
      <!--social buttons-->
      <li class="nav-item">
        <a class="nav-link mx-1" href="#">
          <i class="fab fa-facebook"> </i>
          Facebook
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link mx-1" href="#">
          <i class="fab fa-twitter"> </i>
          Twitter
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link mx-1" href="#">
          <i class="fab fa-google-plus"> </i>
          Google+
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link mx-1" href="#">
          <i class="fab fa-linkedin"> </i>
          Linkedin
        </a>
      </li>
      <!--end social buttons-->

    </ul>

  </nav>

  <p class="text-muted text-center">2019 OS Design Guide</p>
  <p class="text-muted text-center">Contact Eddie Paulino at epaulin0@chicagobooth.edu to learn how you can support the development of this open source community</p>
</footer>
<!-- Footer -->
